<!-- Alert Header -->
<div id="headerAlert" class="container my-3 col-md-6"></div>
<!-- Button Share LinkFree -->
<div class="container d-flex col-md-6 justify-content-end">
  <button title="Compartir LinkFree" class="btn btn-outline-light p-0"
  (click)="compartirLinkFree()"
  >
    <img
      src="assets/icon/compartir.svg"
      alt="app logo"
      height="45"
      width="45"
    />
  </button>
</div>
<!-- Container -->
<div class="container my-3 col-md-6" *ngFor="let item of data">
  <!-- Imagen redonda -->
  <img
    [src]="item.profileImage"
    alt="Profile Picture"
    width="200"
    class="img-fluid rounded-circle mx-auto d-block mb-2"
  />
  <!-- Nombre y Descripcion-->
  <h1 class="text-center text-light">{{ item.name }}</h1>
  <p class="text-center text-light">{{ item.description }}</p>
  <hr class="text-light" />
  <!-- Datos del Json-->
  <div class="text-center mb-3" *ngFor="let item of data[0].links">
    <!-- Boton Group-->
    <div class="btn-group w-100">
      <!-- Boton 1-->
      <a
        class="btn btn-outline-light btn-lg d-flex align-items-center justify-content-between"
        href="{{ item.url }}"
        target="_blank"
      >
        <div class="icon mr-2">
          <img [src]="item.icon" alt="app logo" height="40" width="40" />
        </div>
        <span class="mx-auto">{{ item.name }}</span>
      </a>
      <div class="btn-group">
        <!-- Boton 2-->
        <button
          type="button"
          title="Más Opciones"
          class="btn btn-outline-light dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span style="font-size: 20px">&#8226;&#8226;&#8226;</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" type="button"
            (click)="copiarAlPortapapeles(item)"
            >Copiar Link</button>
          </li>
          <li>
            <button class="dropdown-item" type="button"
            (click)="compartirEnlace(item)"
            >Compartir</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Footer-->
<footer>
  <p class="text-center text-light">
    &copy; 2024 LinkFree | Proyecto por Diversion
  </p>
</footer>
